VITE_SUPABASE_URL=https://mlilupvufpgnczamnoao.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1saWx1cHZ1ZnBnbmN6YW1ub2FvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM0MzgyODEsImV4cCI6MjA5OTAxNDI4MX0.SVubc3bibr5quKawINzD-SFpfJIhNGyaoxTWnpO0JOM
